<div class="container-fluid">
<div class="row">
    <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
                <div class="col-3" *ngFor="let userMovie of userMovieList ">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">{{userMovie.title}}</h5>
                        <p class="card-text">{{category[userMovie.category]}}</p>
                        <!--                       <select ...>
                            <option *ngFor="let fileType of fileTypes"
                                    [value]="fileType">
                              {{FileType2LabelMapping[fileType]}}
                            </option>
                          </select>
    -->
 
                        <button type="button" class="btn btn-primary" (click)="UpdateCategory(userMovie.id, category.Drama)">Update Category</button>
                        <button type="button" class="btn btn-primary" (click)="DeleteMovieFromUserList(userMovie.id)">Remove Movie</button>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    <div class="col-2"></div>
</div>
</div>
