<div class="container-fluid"> 
    <form #searchThirdPartyForm="ngForm"(ngSubmit)="submitForm(searchThirdPartyForm.form)">
        <div class="form-group">
            <label for="movieSearch">Search a Movie Title</label>
            <input type="text" class="form-control" name="movieSearch" ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Search!</button>
    </form>
</div>
<div *ngIf="movieAPI !== undefined">
    <div class = "container-fluid">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Title</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let result of movieAPI.results">
            <td>{{result.title}}</td>
            <button (click)="AddMovieToUserList(result)">Add Movie</button>
            </tr>
        </tbody>
      </table>
    </div>
</div>